/* Add your CSS below */



/* Example: adding a background color to the HTML body */
body {
  /* #ccc is shorthand HEX for a light grey */
    background-color: #2B2B2B;
}


#bannerText{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-left: 50px;
    background-color: #4A96AD;

    padding-left: 100px;
}


h1{
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: bold;
     color:#F6F6F6;
    background-color: #4A96AD;
    margin-left: 290px;
    margin-right: 100px;
}

h2{
    
    padding-right: 100px;
    padding-left: 50px;
    color: #F6F6F6;
    font-weight: 100;
}

#chris{
    float: left;
    margin-left: 50px;
    margin-right: 20px;
    border-style: solid;
    border-color: #F6F6F6;
}

